@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @media screen and (min-width: 1920px) {
    font-size: 110%;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.link:hover > :first-child {
  transform: translateY(-0.4rem);
}

.link.active > :first-child {
  transform: translateY(-0.4rem) scale(1.6);
}

.breakfast {
  background-color: #ebb305;
}
.snack-1 {
  background-color: #f77316;
}
.lunch {
  background-color: #22c55d;
}
.snack-2 {
  background-color: #044389;
}
.dinner {
  background-color: #d30c7b;
}
.snack-3 {
  background-color: #662e9b;
}
